<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <div class="contenant">
    <div class="col-sm-2">
      <nav class="nav-sidebar">
      <ul class="nav tabs">
            <li class="active"><a href="#informations" data-toggle="tab">Mes informations</a></li>
            <li class=""><a href="#tournois" data-toggle="tab">Mes tournois</a></li>
            <li class=""><a href="#equipes" data-toggle="tab">Mes équipes</a></li>
            <li class=""><a href="#stats" data-toggle="tab">Mes stats</a></li>
      </ul>
      </nav>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="informations">
        <%= cl_image_tag current_user.photo, width: 100, height: 100, crop: :thumb, class: "avatar"%>
        <hr>
        <p><%= current_user.first_name %> <%= current_user.last_name.upcase %> </p>
        <p>Date de naissance: <%= current_user.birth_date %></p>
        <p>Numéro de licence: <%= current_user.license_no %></p>
        <p>Email: <%= current_user.email %></p>
        <%= link_to edit_user_registration_path do %>
        <i class="fas fa-user-edit"></i>
        <% end %>
      </div>
      <div class="tab-pane" id="tournois">
        <h2>Mes tournois</h2>
           <%= month_calendar do |date| %>
             <%= date.day %>
           <% end %>
        <p>À venir</p>
        <p>Passés</p>
        <hr>
      </div>
      <div class="tab-pane" id="equipes">
        <div class="team">
          <div class="player_one">
            <p>Photo Joueur 1</p>
          </div>
          <div class="names">
            <p>Guillaume Imary <i class="fas fa-ellipsis-v"></i> Adrien Chevallier</p>
          </div>
          <div class="player_two">
            <p>Photo Joueur 2</p>
          </div>
        </div>
        <%= link_to new_team_player_path do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
      <div class="tab-pane" id="stats">
        <h2>Mes stats</h2>
        <p>Voici mes stats</p>
          <hr>
      </div>
    </div>
  </div>
</div>
