<div id="my-flex">
  <div class="cards">
    <div class="col-xs-12 col-sm-10">
    <%= form_tag tournaments_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Adresse, série ou nom"
      %>
    <% end %>
    </div>
    <div class="row" id= "cards-container">
      <% @tournaments.each do |tournament| %>
        <div class="col-xs-12 col-sm-6">
          <%= render 'shared/cards', tournament: tournament %>
          <%= render 'shared/modal', teams: @my_teams, tournament: tournament %>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: calc(100vh - 60px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
