<div class="card-category" style="background-image: linear-gradient(-270deg, rgba(56, 120, 173, 0.4) 70%, rgba(0,0,0,0.3)), url(<%= @tournament.photos %>)">
  <h2> <%= @tournament.name %> </h2>
</div>

<div class="pricecription">
  <div class='seriees'>
  <p> <%= @tournament.serie %> </p><br>
  </div>
    <p style='font-weight: 20px !important; color: $blue'>Prize Money</p> <br>
    <div class="prize-money">
    <p><%= humanized_money(@tournament.prize_money) %>€</p>
  </div>
  <% if !current_user.tournaments.where(id: @tournament).any?  %>
    <button type="button" class="btn btn-fun btn-yours2" data-toggle="modal" data-target="#myModal-<%= @tournament.id %>"><span class="btn-content">S'inscrire</span>
      <span class="icon"><div class="money"><%= humanized_money(@tournament.price) %>€*</div></span></button>
  <% end %>
  <p style="font-size: 10px;">* Frais d'inscription par équipe</p>
</div>

<%= render 'shared/modal', teams: @my_teams, tournament: @tournament %>

<div class="container">
  <div id="tabs">
    <main>

        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><i class="fas fa-info-circle"></i> Informations</label>

        <input id="tab2" type="radio" name="tabs" >
        <label for="tab2">Equipes</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Le tableau</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4">Je cherche un coéquipier</label>

      <section id="content1">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-1">
            <div class="boxes">
                <div class=""><span>Organisateur</span></div>
                <div class="rdg-expertise-bar rdg-brief-bg rdg-animated-delay-0 text-right" style="float: left;"></div>
                <div class="orga">
                  <p><%= @tournament.club_organisateur %></p>
                   <p><%= @tournament.contact %></p>
                   <p><%= @tournament.address %></p>
                  </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="boxes">
                <div class=""><span>Tableaux</span></div>
                <div class="rdg-expertise-bar rdg-brief-bg rdg-animated-delay-0 text-right" style="float: left;"></div>
                <div class="orga">
                  <p>Tableau principal : <% @tournament.equipe_tableau_principal %></p>
                  <p>Tableau qualif:<% @tournament.equipe_qualif %></p>
                  <p>Tableau principal:<% @tournament.date_principal.strftime("%d/%m/%Y") %> </p>
                  <p>Tableau qualif:<% @tournament.date_qualif.strftime("%d/%m/%Y") %> </p>
                </div>
            </div>
          </div>
          <div class="col-xs-12">
              <div class="boxes2">
                  <div class="rdg-expertise-category"><span>Autres Infos</span></div>
                  <div class="rdg2-expertise-bar rdg2-brief-bg rdg2-animated-delay-0 text-right" style="float: left;"></div>
                  <!-- <div style="clear: both;"></div> -->
                  <div class="rdg2-expertise-description"><span>

                    Date limite d'inscription: <%= @tournament.limit_inscription.strftime("%d/%m/%Y") %> <br>
                    Horaire réunion technique qualif: <%= @tournament.reunion_qualif.strftime("%Ih")  %> <br>
                    Horaire réunion technique principal: <%= @tournament.reunion_principal.strftime("%Ih")  %> <br>
                      <%= @tournament.remarques %> <br>
                      Terrains :<%= @tournament.terrains_normes %>
                  </span></div>
            </div>
          </div>
        </div>
      </section>

      <section id="content2">
        <% if @tournament.inscriptions.blank? %>
          <p>Il n'y a aucune équipe inscrite pour le moment ... 😔</p>
        <% else %>
          <% @tournament.inscriptions.each do |t| %>
            <div class="beach-boxes">
                <div class="rdg-expertise-category-beach"><span><%=cl_image_tag t.team.users[0].photo, width: 50, height: 50, crop: :thumb, class: 'avatar'%> <%=cl_image_tag t.team.users[1].photo, width: 50, height: 50, crop: :thumb, class: 'avatar' %></span></div>
                <div class="rdg-expertise-bar-beach rdg-brief-bg rdg-animated-delay-0 text-right" style="float: left;"></div>
                <div style="clear: both;"></div>
                <div class="rdg-expertise-description-beach"><span>
                  <%= t.team.users[0].first_name %> <%= t.team.users[0].last_name %> / <%= t.team.users[1].first_name %> <%= t.team.users[1].last_name %>
                </span></div>
            </div>
          <% end %>
        <% end %>
      </section>

      <section id="content3">
        <div class="beachbody">
          <div class="beachmain" id="tournament">
              <ul class="round round-1">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>79</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>48</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>84</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>72</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top ">team <span>55</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom winner">team <span>68</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>64</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>44</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>54</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>52</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>65</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>54</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>67</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>63</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>73</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>61</span></li>

                  <li class="spacer">&nbsp;</li>
              </ul>
              <ul class="round round-2">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>82</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>56</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>74</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>57</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top ">team <span>48</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom winner">team <span>70</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top ">team <span>50</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom winner">team <span>66</span></li>

                  <li class="spacer">&nbsp;</li>
              </ul>
              <ul class="round round-3">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>77</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>69</span></li>

                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top ">team <span>61</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom winner">team <span>71</span></li>

                  <li class="spacer">&nbsp;</li>
              </ul>
              <ul class="round round-4">
                  <li class="spacer">&nbsp;</li>

                  <li class="game game-top winner">team <span>85</span></li>
                  <li class="game game-spacer">&nbsp;</li>
                  <li class="game game-bottom ">team <span>63</span></li>

                  <li class="spacer">&nbsp;</li>
              </ul>
          </div>
        </div>
      </section>

      <section id="content4">

        <div id="messages">
          <div id="written-messages">
            <% if @tournament.messages %>
               <% @tournament.messages.each do |message| %>
                 <%= render 'messages/show', message: message %>
               <% end %>
             <% end %>
          </div>
          <div id="form-message">
            <%= render 'messages/form', tournament: @tournament, message: @message %>
          </div>
        </div>

      </section>

    </main>
  </div>
</div>


