<div class="card-trip" style="background-image: linear-gradient(-110deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2))">
    <img src=<%= tournament.photos %>>
    <div class="card-trip-infos">
      <div class="card-top-line">
        <h2><%= tournament.name %></h2>
        <p id="card-price-symbol"><i class="fas fa-trophy" style="color: gold"></i> <%= humanized_money_with_symbol(tournament.prize_money) %></p>
      </div>
      <div class="tournament-info">
        <p><%= tournament.address.split.last(2).join(" ") %></p>
        <p><% if tournament.genre == "Homme" %>
            <i class="fas fa-male"></i><i class="fas fa-male"></i>
          <% else %>
            <i class="fas fa-female"></i><i class="fas fa-female"></i>
          <% end %>
        <%= tournament.inscriptions.count %> / <%= tournament.equipe_tableau_principal + tournament.place_reservees_qualif %></p>
        <!-- <p><%#= image_tag "ball_mikasa.jpg", width: 20 %> </i>Mikasa</p> -->
        <p><i class="far fa-calendar-alt"></i> <%= tournament.date.strftime("%d/%m/%Y") %></p>
      </div>
      <h2 class="series"><%= tournament.serie %></h2>
      <%= image_tag "https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/15697766_1264943210239595_1378117228343581992_n.jpg?_nc_cat=106&_nc_ht=scontent-cdt1-1.xx&oh=416872ef2f4ebf8e001ce2e531762dac&oe=5D1B825B", class: 'card-trip-user avatar-bordered' %>
    </div>
    <%= link_to "", tournament_path(tournament), class: "card-link" %>
</div>
<img src="" alt="">
