<div class="card-trip">
  <img src="https://www.sandsystem.com/beach-volley/wp-content/uploads/2019/01/cropped-jersey.jpg" class="simple-linear">
  <div class="card-trip-infos">
    <h2><%= tournament.name %></h2>
    <div class="tournament-info">
      <p><%= tournament.address %></p>
      <p><i class="fas fa-trophy"></i> 500<%#= tournament.price %></p>
      <p><i class="fas fa-male"></i><i class="fas fa-male"></i> 15 / 24</p>
      <p><%= image_tag "ball_mikasa.jpg", width: 20 %> </i>Mikasa</p>
      <p><i class="far fa-calendar-alt"></i> <%= tournament.date %></p>
    </div>
    <h2 class="series">S1 - 1500</h2>
    <button type="button" class="btn-yours btn-position-card" data-toggle="modal" data-target="#myModal">
      S'inscrire
    </button>
    <img src='https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/15697766_1264943210239595_1378117228343581992_n.jpg?_nc_cat=106&_nc_ht=scontent-cdt1-1.xx&oh=416872ef2f4ebf8e001ce2e531762dac&oe=5D1B825B' class="card-trip-user avatar-bordered"/>
  </div>
  <%= link_to "", tour_path(tour), class: "card-link" %>
</div>

