<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal-<%= tournament.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choisis ton équipe</h4>
      </div>
      <div class="scroll-box">
        <div class="modal-body">
          <%#=  render 'teams/index', teams: teams, tournament: tournament %>
          <% teams.each do |team| %>
            <div class="team">
              <% first_player = team.users[0] %>
              <% if first_player == current_user %>
                <div>
                  <%= cl_image_tag team.users[1].photo, width: 50, height: 50, crop: :thumb, class: "avatar"%>
                </div>
                <div class="names">
                  <p><%= team.users[1].first_name %></p>
                </div>
              <% else %>
                <div>
                  <%= cl_image_tag team.users[0].photo, width: 50, height: 50, crop: :thumb, class: "avatar"%>
                </div>
                <div class="names">
                  <p><%= team.users[0].first_name %></p>
                </div>
              <% end %>
              <p><img width="25" height="25" src="/assets/filet-volley-7f2eed79cec68cf62944d9db3c5a04d895d1b69ba8c4281869ff372714fa4965.png"></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <!-- <button type="button" class="btn btn-primary">C'est good</button> -->
      </div>
    </div>
  </div>
</div>
