<div class="ranking">
  <%= image_tag 'ranking.png', height: 50 %>
  <p></p>
  <h4>Classement actuel : 12ème</h4>
  <p></p>
  <h5>Total points : 7 180</h5>
  <hr>
  <% @user.tournaments.each do |tournament| %>
    <div class="ranking-product">
      <div class="rank">
        <div class="col-xs-6">
          <div class="tournament-ranking">
            <h2><%= tournament.name %></h2>
            <h3><%= tournament.date %></h3>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="point-place">
            <% if tournament.date < Date.today %>
              <p>Place : <%= rand(1..5) %></p>
              <p>Points : <%= [150, 250, 500, 750, 1000, 1500, 2000, 2500].sample %></p>
            <% else %>
              <div class="waiting">
                <%= image_tag 'waiting.png', height: 50, width: 50 %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
